 <!-- About Section -->
    <section id="angebot">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img class="img-responsive profilbild" src="img/lisa.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><span class="bg--white">Angebot</span></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 bg--white">
                    <p>Meine Arbeit versteht sich als enge Betreuung von Künstler*innen und ihrer Arbeit, damit mehr Energie und Zeit bleibt um sich auf den künstlerischen Prozess zu konzentrieren. Ich begleite von der Antragstellung bis zur Abrechnung eines Projekts. Ich bin gerne eingebunden in alle konzeptuellen Überlegungen und übernehme dann Aufgaben wie Budgetierung, Personalakquise, Vertragslegung und die Kommunikation mit dem Veranstaltungsort.</p>
                </div>
                <div class="col-lg-4 bg--white">
                    <p>Meine Arbeit zeichnet sich dadurch aus, an den geeigneten Stellen pragmatisch zu entscheiden, dabei aber sensibel und sorgfältig zu bleiben gegenüber dem künstlerischen Prozess gegenüber wie den Beteiligten eines Projekts.</p>
                </div>
            </div>
        </div>
    </section>
