 <!-- About Section -->
    <section id="angebot">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img class="img-responsive profilbild" src="img/lisa.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><span class="bg--white">Profil</span></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 bg--white">
                    <p>Seit 2018 arbeite ich als selbstständige Produktionsleitung mit freien Künstler*innen aus dem Bereich der Darstellenden Künste in Frankfurt/Main und Berlin zusammen. Hier begleite ich die die Entstehung neuer Produktionen und betreue Gastspiele. Durch sorgfältige Unterstützung in der Administration, Organisation und Kommunikation versuche ich mehr Raum und Zeit für die konzeptionelle künstlerische Arbeit zu schaffen. Dabei ist die Zusammenarbeit auf die individuellen Interessen und Bedürnisse der Künstler*innen innerhalb ihrer Projekte abgestimmt.</p>
                    <p></p>
                </div>
                <div class="col-lg-4 bg--white">
                    <p> So übernehme ich einzelne Aufgabenbereiche wie
                    <ul>
                      <li>* Vertragswesen</li>
                      <li>* Finanzplanung, Buchhaltung und Abrechnung</li>
                      <li>* Kommunikation mit Förder*innen und Koproduktionspartner*innen</li>
                      <li>* die Betreuung von Mitwirkenden
                      <li>* Organisation und Begleitung von Gastspielen</li>
                      <li>* Lektorat von Antragstexten  </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
