 <!-- About Section -->
    <section id="angebot">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img class="img-responsive profilbild" src="img/lisa.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><span class="bg--white">Angebot</span></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 bg--white">
                    <p>Lisa Gehring arbeitet seit 2018 als freie Produktionsleitung in Frankfurt am Main und Berlin. Sie betreut Projekte aus dem Bereich Performance Art wie aus dem Bereich Schauspiel. Die sorgfältige Unterstützung in Administration, Organisation und Kommunikation durch das Produktionsbüro Lisa Gehring schafft Zeit und Raum für die konzeptuelle künstlerische Arbeit. Die Betreuung ist abgestimmt auf die individuellen Bedürfnisse der Künstler*innen und ihres Projekts. Das Produktionsbüro Lisa Gehring kann einzelne Aufgabenbereiche wie Vertragslegung, Finanzplanung und -verwaltung oder die Betreuung von Mitwirkenden übernehmen. Ebenfalls ist eine Zusammenarbeit von der gemeinsamen Antragsstellung bis zur Abrechnung ein gesamten Projekts möglich.</p>
                </div>
                <div class="col-lg-4 bg--white">
                    <p>Meine Arbeit zeichnet sich dadurch aus, an geeigneten Stellen pragmatisch zu sein, dabei aber sensibel und sorgfältig zu bleiben sowohl gegenüber dem künstlerischen Prozess als auch gegenüber allen am Projekt Beteiligten. Ich lege Wert darauf, Projekte auch inhaltlich zu begleiten, um genau zu verstehen, welche Bedürfnisse und Schwierigkeiten sich darin entwickeln.</p>
                </div>
            </div>
        </div>
    </section>
