    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1><span class="name">Lisa Gehring</span></h1>
                        <hr class="star-light">
                        <span class="skills">Freies Produktionsbüro und Künstler*innenbetreuung</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
