 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
           <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details" style="list-style:none">
                                {% if post.client %}
                            {% if post.project-url %}
                            <li>Online-Programm: <strong><a target="blank" href="{{ post.project-url }}">{{ post.project-url }}</a></strong></li>
                            {% endif %}
                                <li>Auftraggeber*in:
                                  <strong>
                                    {% if post.client-url %}
                                    <a target="blank" href="{{ post.client-url }}">{{ post.client }}</a>
                                    {% else %}
                                    {{ post.client }}
                                    {% endif %}
                                  </strong>
                                </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Zeitraum:
                                        <strong>{{ post.project-date }}
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.venue %}
                                    <li>Venue:
                                        <strong>
                                    {% if post.venue-url %}
                                    <a target="blank" href="{{ post.venue-url }}">{{ post.venue }}</a>
                                    {% else %}
                                          {{ post.venue }}
                                    {% endif %}
                                        </strong>
                                    </li>
                                {% endif %}
                                <!--
                                {% if post.category %}
                                    <li>Aufgaben:
                                        <strong>{{ post.category }}
                                        </strong>
                                    </li>
                                {% endif %}
                                //-->
                            </ul>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.credit %}
                            <div style="margin-top:-25px;text-align:right"><small>
                                Foto/Grafik: {{ post.credit }}
                              </small></div></div>
                            {% endif %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
